//  <!------------------------->
// <!---/****HOME PAGE****/---->
//  <!--//...NAVIGATION....//-->
//<!------------------------->
.navigation {
  transition: background-color .5s ease;

  &__fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
  }

  &__list {
    list-style: none;
    margin-left: 50rem;
    margin-top: 2rem;

    @include respond(medium-desktop) {
      margin-left: 45rem;
      margin-top: 1.5rem;
    }

    @include respond(small-desktop) {
      margin-left: 32rem;
      margin-top: 1.5rem;
    }
  }

  &__item {
    display: inline-block;
    margin: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-white;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 1rem 0; //padding-bottom is for space between line and text
      position: relative; //used by absolute for positioning underline
    }

    &::after,
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: ""; //after element that has no content is positioned in the right bottom hand corner of the after element
      //display: block;
      height: 2px;
      line-height: 1;
      width: 100%;
      background-color: $color-white;
      transform-origin: right bottom; //relative to parent element.when cursor go to this place is started
      transform: scaleX(0); // ti is compress to right hand side,
      transition: transform 0.4s linear;
    }

    &:hover::after,
    &:active::after {
      transform: scaleX(1);
      transform-origin: left bottom;
      transition: transform .4s linear;
    }
  }
  ///////////////////////////////////
  //for toggle navigation

  &__toggle {
    position: relative;
  }

  @include respond(tab-port) {
  }
}

////////////////////
//for scroll down
.solid {
  background-color: rgba(0, 0, 0, 0.7) !important;
  transition: background-color 1s ease 0s;
  height: 10rem;
}

.current-page {
  border-bottom: 2px solid $color-blue-light;
}
///////////////////////////////
//scroll part
.bg-nav {
  background-color: rgba(0, 0, 0, 0.7) !important;
  transition: background-color 1s ease 0s;
  height: 10rem;
  //height: 15vh;
}




