/*............................*/
/*         color             */
/*..........................*/

$color-white: #fff;

$color-gray-dark: #1c1c1c;
$color-gray-medium: #4f4f4f;
$color-gray-light-2: #929292;
$color-gray-light-1: #e0e0e0;

$color-blue-so-dark: #030f32;
$color-blue-dark: #21315d;
$color-blue-medium: #2a50b8;
$color-blue-light: #b3c0e3;

$color-black: #090909;

/*............................*/
/*         grid             */
/*..........................*/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizental: 6rem;

